includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
        - database
        - tests

    excludePaths:
        analyse:
            - bootstrap/cache
            - storage

    parallel:
        maximumNumberOfProcesses: 1
