@font-face {
  font-family: "iconfont";
  src:
    url("../../fonts/iconfont.woff2") format("woff2"),
    url("../../fonts/iconfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../../fonts/OpenSans-Medium.woff2") format("woff2"),
    url("../../fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src:
    url("../../fonts/Unbounded-Bold.woff2") format("woff2"),
    url("../../fonts/Unbounded-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src:
    url("../../fonts/Unbounded-Medium.woff2") format("woff2"),
    url("../../fonts/Unbounded-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src:
    url("../../fonts/Unbounded-Regular.woff2") format("woff2"),
    url("../../fonts/Unbounded-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

