@font-face {
  font-family: 'iconfont';
  src: url("../../fonts/iconfont.woff2") format("woff2"),
       url("../../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-cross:before {
  content: "\e901";
}
.icon-full-arrow:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-telegram:before {
  content: "\e905";
}
.icon-telegram-bg:before {
  content: "\e906";
}
.icon-vk:before {
  content: "\e907";
}
.icon-vk-bg:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-whatsapp-bg:before {
  content: "\e90a";
}
